	<h2>Flog Results</h2>
	<p><a href='http://ruby.sadi.st/Flog.html'>Flog</a> measures code complexity.</p>
	<table class='bodyTable'>
		<tr>
		  <th>File</th>
		  <th>Total score</th>
		  <th>Methods</th>
		  <th>Average score</th>
		  <th>Highest score</th>
		</tr>
		<%
                  def cycle(first_value, second_value, iteration)
                    return first_value if iteration % 2 == 0
                    return second_value
                  end
                  pages.sort {|x,y| y.highest_score <=> x.highest_score }.each_with_index do |page, count| %>
  		<tr class='<%= cycle("a", "b", count) %>'>
                  <td><a href='flog/<%= page.path %>' target="_blank"><%= page.filename.sub('.txt', '.rb').gsub(Regexp.new("#{Continuous4r::WORK_DIR}/flog/"),'') %></a>&#160;&#160;<i>(<a class="externalLink" href="xdoclet/<%= page.filename.sub('.txt', '.rb.html').gsub(Regexp.new("#{Continuous4r::WORK_DIR}/flog/"),'').gsub(/\//,'_') %>" target="_blank">view source</a>)</i></td>
  			<td class='score'><%= sprintf("%0.2f", page.score) %></td>
  			<td class='score'><%=                       page.scanned_methods.length %></td>
  			<% 
  			  def flog_caracteristics(flog_score)
  			    if flog_score >= 0 and flog_score < 11
  			      "title='Awesome'"
  			    elsif flog_score >= 11 and flog_score < 21
  			      "title='Good enough'"
  			    elsif flog_score >= 21 and flog_score < 41
  			      "style='background-color: #FFFF99; color: black;' title='Might need refactoring'"
  			    elsif flog_score >= 41 and flog_score < 61
  			      "style='background-color: yellow; color: black;' title='Possible to justify'"
  			    elsif flog_score >= 61 and flog_score < 100
  			      "style='background-color: orange; color: black;' title='Danger'"
  			    elsif flog_score >= 100 and flog_score < 200
  			      "style='background-color: red; color: black;' title='Whoop, whoop, whoop'"
  			    elsif flog_score > 200
  			      "style='background-color: black; color: white;' title='Someone please think of the children'"
  			    end
  			  end
  			%>
  			<td class='score' <%= flog_caracteristics(page.average_score) %>><%= sprintf("%0.2f", page.average_score) %></td>
  			<td class='score' <%= flog_caracteristics(page.highest_score) %>><%= sprintf("%0.2f", page.highest_score) %></td>
  		</tr>
		<% end %>
		<tr>
			<td><strong>Totals</strong></td>
			<td class='score'><strong><%= sprintf("%0.2f", pages.inject(0){|sum, page| sum + page.score }) %></strong></td>
			<td class='score'><strong><%=                       pages.inject(0){|sum, page| sum + page.scanned_methods.length } %></strong></td>
			<td class='score'></td>
			<td class='score'></td>
		</tr>		
	</table>
	<p>Generated on <%= Time.now.localtime %></p>	
