<html>
<head>
	<style>
            body {
                    background-color: #efefef;
                    margin: 20px;
                    padding: 0;
                    font: 12px verdana, arial, helvetica;
            }

            table {
                    border-collapse: collapse;
                    border: 1px solid #666;
                    background: #fff;
                    margin-bottom: 20px;	
            }

                    table tr.light {
                            background: #fff;
                    }

                    table tr.dark {
                            background: #f9f9f9;
                    }

                    table td, table th {
                            padding: 4px 10px;
                            font-size: 13px;
                    }
                    table th {
                            text-align: center;
                            color: #fc0;
                            background: #336;		
                            font-weight: bold;
                            border: #d0d0d0 1px solid;
                    }

                    table td {
                            border: #d0d0d0 1px solid;
                    }

                            table td.score {
                                    text-align: right;
                            }	

            .warning {
                    background: yellow;
            }
        </style>
</head>
<body>
    <%
	  def flog_caracteristics(flog_score)
	    if flog_score >= 0 and flog_score < 11
	      "title='Awesome'"
	    elsif flog_score >= 11 and flog_score < 21
	      "title='Good enough'"
	    elsif flog_score >= 21 and flog_score < 41
	      "style='background-color: #FFFF99; color: black;' title='Might need refactoring'"
	    elsif flog_score >= 41 and flog_score < 61
	      "style='background-color: yellow; color: black;' title='Possible to justify'"
	    elsif flog_score >= 61 and flog_score < 100
	      "style='background-color: orange; color: black;' title='Danger'"
	    elsif flog_score >= 100 and flog_score < 200
	      "style='background-color: red; color: black;' title='Whoop, whoop, whoop'"
	    elsif flog_score > 200
	      "style='background-color: black; color: white;' title='Someone please think of the children'"
	    end
	  end
    %>
	<p>Score: <%= score %></p>
	<% scanned_methods.each do |sm| %>
  <table><tr><td <%= flog_caracteristics(sm.score) %>><strong><%= sm.name %> (<%= sm.score %>)</strong></td></tr></table>
  <table>
    <tr>
      <th>Score</th>
      <th>Operator</th>
    </tr>
    <%
      def cycle(first_value, second_value, iteration)
        return first_value if iteration % 2 == 0
        return second_value
      end
      sm.operators.each_with_index do |operator, count| %>
      <tr class='<%= cycle("light", "dark", count) %>'>
        <td class='score'><%= sprintf("%0.2f", operator.score) %></td>
        <td class='score'><%= operator.operator %></td>
      </tr>
    <% end %>
  </table>
 <% end %>
</body>
</html>